h1 {
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

.navbar-inner {
   margin-bottom: 20px;
}

#tumblr h2, blink {
   color: #FF00ff;
   font-size: 20pt;
}

.container ol {
   padding: 20px;
}

li {
   font-size: 20pt;
   padding-top: 20px;
   padding-bottom: 20px;
}

#cats_and_donuts {
   width: 100%;
   margin-top: 20px;
}